

header {
    padding: 1.5em 0 2em 0;
    border-bottom: 3px solid #931420;
    background-image: -moz-linear-gradient(
            30deg, #ddf600 0%, #7bf600 30%, white 50%, #00f621 80%, #f6bb73 100%);
    background-image: -webkit-linear-gradient(
            30deg, #ddf600 0%, #7bf600 30%, white 50%, #00f621 80%, #f6bb73 100%);
    background-image: -o-linear-gradient(
            30deg, #ddf600 0%, #7bf600 30%, white 50%, #00f621 80%, #f6bb73 100%);

}
header h1 {
    text-align:center;
    font-size: 500%;
    font-family: 'Fredoka One', cursive;
    color: orangered;

}